Practice: Data Cleaning

In [14]:
import pandas as pd
import numpy as np 
import plotly.express as px
from matplotlib import pyplot as plt
import seaborn as sns

pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [15]:
# loading data
df= pd.read_csv('F:/all_data.csv',encoding='iso-8859-1')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2161 entries, 0 to 2160
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      2158 non-null   float64
 1   FirstName       2158 non-null   object
 2   LastName        2158 non-null   object
 3   City            2158 non-null   object
 4   Country         2158 non-null   object
 5   Phone           2158 non-null   object
 6   OrderID         2155 non-null   float64
 7   OrderDate       2155 non-null   object
 8   OrderNumber     2155 non-null   float64
 9   TotalAmount     2155 non-null   float64
 10  ProductID       2157 non-null   float64
 11  ProductName     2157 non-null   object
 12  UnitPrice       2157 non-null   float64
 13  Package         2157 non-null   object
 14  IsDiscontinued  2157 non-null   object
 15  SupplierID      2157 non-null   float64
 16  CompanyName     2157 non-null   object
 17  ContactName     2157 non-null   object
 18  City.1          2157 non-null   object
 19  Country.1       2157 non-null   object
 20  Phone.1         2157 non-null   object
 21  Fax             947 non-null    object
dtypes: float64(7), object(15)
memory usage: 371.6+ KB

In [17]:
#check data
df.sample()

,CustomerID,FirstName,LastName,City,Country,Phone,OrderID,OrderDate,OrderNumber,TotalAmount,ProductID,ProductName,UnitPrice,Package,IsDiscontinued,SupplierID,CompanyName,ContactName,City.1,Country.1,Phone.1,Fax
1201,62.00,L?cia,Carvalho,Sao Paulo,Brazil,(11) 555-1189,457.00,10/14/2013 0:00,"542,834.00",595.50,4.00,Chef Anton's Cajun Seasoning,22.00,48 - 6 oz jars,False,2.00,New Orleans Cajun Delights,Shelley Burke,New Orleans,USA,(100) 555-4822,NaN

In [18]:
df.head()

,CustomerID,FirstName,LastName,City,Country,Phone,OrderID,OrderDate,OrderNumber,TotalAmount,ProductID,ProductName,UnitPrice,Package,IsDiscontinued,SupplierID,CompanyName,ContactName,City.1,Country.1,Phone.1,Fax
0,85.00,Paul,Henriot,Reims,France,26.47.15.10,1.00,7/4/2012 0:00,"542,378.00",440.00,11.00,Queso Cabrales,21.00,1 kg pkg.,False,5.00,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Oviedo,Spain,(98) 598 76 54,NaN
1,85.00,Paul,Henriot,Reims,France,26.47.15.10,1.00,7/4/2012 0:00,"542,378.00",440.00,42.00,Singaporean Hokkien Fried Mee,14.00,32 - 1 kg pkgs.,True,20.00,Leka Trading,Chandra Leka,Singapore,Singapore,555-8787,NaN
2,85.00,Paul,Henriot,Reims,France,26.47.15.10,1.00,7/4/2012 0:00,"542,378.00",440.00,72.00,Mozzarella di Giovanni,34.80,24 - 200 g pkgs.,False,14.00,Formaggi Fortini s.r.l.,Elio Rossi,Ravenna,Italy,(0544) 60323,(0544) 60603
3,79.00,Karin,Josephs,Münster,Germany,0251-031259,2.00,7/5/2012 0:00,"542,379.00","1,863.40",14.00,Tofu,23.25,40 - 100 g pkgs.,False,6.00,Mayumi's,Mayumi Ohno,Osaka,Japan,(06) 431-7877,NaN
4,79.00,Karin,Josephs,Münster,Germany,0251-031259,2.00,7/5/2012 0:00,"542,379.00","1,863.40",51.00,Manjimup Dried Apples,53.00,50 - 300 g pkgs.,False,24.00,"G'day, Mate",Wendy Mackenzie,Sydney,Australia,(02) 555-5914,(02) 555-4873

### issues :

*delete orders with nan values 

*Rename 'City.1 , Country.1 , Phon.1'Columns

*Change 'OrderDate' Typ into Date 

*Change ID Colums , and Order Number column to integer

Get Orders NaN Rows

In [25]:
df[df.OrderID.isnull()]

,CustomerID,FirstName,LastName,City,Country,Phone,OrderID,OrderDate,OrderNumber,TotalAmount,ProductID,ProductName,UnitPrice,Package,IsDiscontinued,SupplierID,CompanyName,ContactName,City.1,Country.1,Phone.1,Fax
2155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.00,Stroopwafels,9.75,24 pieces,False,22.00,Zaanse Snoepfabriek,Dirk Luchte,Zaandam,Netherlands,(12345) 1212,(12345) 1210
2156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.00,DataScience,50.00,1,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2157,92.00,Ali,Ali,Cairo,Egypt,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2158,22.00,Diego,Roel,Madrid,Spain,(91) 555 94 44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2159,57.00,Marie,Bertrand,Paris,France,(1) 42.34.22.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.00,DSClub,AEmad,Alex,Egypt,11111,11111

In [27]:
# Delete Orders NaN rows
df.dropna(subset='OrderID',inplace=True)

In [28]:
# Rename Columns
df.rename(columns={'City.1':'suppCity','Country.1':'suppCountry','Phone.1':'suppPhone'}, inplace=True)

In [29]:
#Change OrderDate and ID Columns Type to Date,integer
df.OrderDate=pd.to_datetime(df.OrderDate)

In [31]:
for cols in df.columns:
    if'ID'in cols or 'OrderNumber'in cols:
        df[cols]=df[cols].astype(int)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2155 entries, 0 to 2154
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      2155 non-null   int64
 1   FirstName       2155 non-null   object
 2   LastName        2155 non-null   object
 3   City            2155 non-null   object
 4   Country         2155 non-null   object
 5   Phone           2155 non-null   object
 6   OrderID         2155 non-null   int64
 7   OrderDate       2155 non-null   datetime64[ns]
 8   OrderNumber     2155 non-null   int64
 9   TotalAmount     2155 non-null   float64
 10  ProductID       2155 non-null   int64
 11  ProductName     2155 non-null   object
 12  UnitPrice       2155 non-null   float64
 13  Package         2155 non-null   object
 14  IsDiscontinued  2155 non-null   object
 15  SupplierID      2155 non-null   int64
 16  CompanyName     2155 non-null   object
 17  ContactName     2155 non-null   object
 18  suppCity        2155 non-null   object
 19  suppCountry     2155 non-null   object
 20  suppPhone       2155 non-null   object
 21  Fax             945 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(5), object(14)
memory usage: 387.2+ KB

In [34]:
df.sample(10)

,CustomerID,FirstName,LastName,City,Country,Phone,OrderID,OrderDate,OrderNumber,TotalAmount,ProductID,ProductName,UnitPrice,Package,IsDiscontinued,SupplierID,CompanyName,ContactName,suppCity,suppCountry,suppPhone,Fax
1650,67,Janete,Limeira,Rio de Janeiro,Brazil,(21) 555-3412,630,2014-02-09,543007,"2,086.00",16,Pavlova,17.45,32 - 500 g boxes,False,7,"Pavlova, Ltd.",Ian Devling,Melbourne,Australia,(03) 444-2343,(03) 444-6588
368,70,Jonas,Bergulfsen,Stavern,Norway,07-98 92 35,140,2012-12-18,542517,"1,058.40",28,R?ssle Sauerkraut,45.60,25 - 825 g cans,True,12,Plutzer Lebensmittelgro?m?rkte AG,Martin Bein,Frankfurt,Germany,(069) 992755,NaN
1171,63,Horst,Kloss,Cunewalde,Germany,0372-035188,447,2013-10-06,542824,"4,825.00",7,Uncle Bob's Organic Dried Pears,30.00,12 - 1 lb pkgs.,False,3,Grandma Kelly's Homestead,Regina Murphy,Ann Arbor,USA,(313) 555-5735,(313) 555-3349
370,70,Jonas,Bergulfsen,Stavern,Norway,07-98 92 35,140,2012-12-18,542517,"1,058.40",71,Flotemysost,21.50,10 - 500 g pkgs.,False,15,Norske Meierier,Beate Vileid,Sandvika,Norway,(0)2-953010,NaN
1357,24,Maria,Larsson,Br?cke,Sweden,0695-34 67 21,515,2013-12-02,542892,"4,337.00",51,Manjimup Dried Apples,53.00,50 - 300 g pkgs.,False,24,"G'day, Mate",Wendy Mackenzie,Sydney,Australia,(02) 555-5914,(02) 555-4873
256,44,Renate,Messner,Frankfurt a.M.,Germany,069-0245984,96,2012-10-31,542473,"1,586.00",68,Scottish Longbreads,12.50,10 boxes x 8 pieces,False,8,"Specialty Biscuits, Ltd.",Peter Wilson,Manchester,UK,(161) 555-4448,NaN
1554,76,Pascale,Cartrain,Charleroi,Belgium,(071) 23 67 22 20,594,2014-01-20,542971,"4,581.00",77,Original Frankfurter grüne So?e,13.00,12 boxes,False,12,Plutzer Lebensmittelgro?m?rkte AG,Martin Bein,Frankfurt,Germany,(069) 992755,NaN
622,89,Karl,Jablonski,Seattle,USA,(206) 555-4112,236,2013-03-24,542613,704.00,34,Sasquatch Ale,14.00,24 - 12 oz bottles,False,16,Bigfoot Breweries,Cheryl Saylor,Bend,USA,(503) 555-9931,NaN
24,88,Paula,Parente,Resende,Brazil,(14) 555-8122,9,2012-07-15,542386,517.80,53,Perth Pasties,32.80,48 pieces,True,24,"G'day, Mate",Wendy Mackenzie,Sydney,Australia,(02) 555-5914,(02) 555-4873
1406,49,Giovanni,Rovelli,Bergamo,Italy,035-640230,537,2013-12-18,542914,"1,650.00",72,Mozzarella di Giovanni,34.80,24 - 200 g pkgs.,False,14,Formaggi Fortini s.r.l.,Elio Rossi,Ravenna,Italy,(0544) 60323,(0544) 60603