Practice: Data Cleaning

In [2]:
import pandas as pd
import numpy as np 
import plotly.express as px
from matplotlib import pyplot as plt
import seaborn as sns

pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [3]:
# loading data
df= pd.read_csv('F:/all_data.csv',encoding='iso-8859-1')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
,RangeIndex: 2161 entries, 0 to 2160
,Data columns (total 22 columns):
, #   Column          Non-Null Count  Dtype
,---  ------          --------------  -----
, 0   CustomerID      2158 non-null   float64
, 1   FirstName       2158 non-null   object
, 2   LastName        2158 non-null   object
, 3   City            2158 non-null   object
, 4   Country         2158 non-null   object
, 5   Phone           2158 non-null   object
, 6   OrderID         2155 non-null   float64
, 7   OrderDate       2155 non-null   object
, 8   OrderNumber     2155 non-null   float64
, 9   TotalAmount     2155 non-null   float64
, 10  ProductID       2157 non-null   float64
, 11  ProductName     2157 non-null   object
, 12  UnitPrice       2157 non-null   float64
, 13  Package         2157 non-null   object
, 14  IsDiscontinued  2157 non-null   object
, 15  SupplierID      2157 non-null   float64
, 16  CompanyName     2157 non-null   object
, 17  ContactName     2157 non-null   object
, 18  City.1          2157 non-null   object
, 19  Country.1       2157 non-null   object
, 20  Phone.1         2157 non-null   object
, 21  Fax             947 non-null    object
,dtypes: float64(7), object(15)
,memory usage: 371.6+ KB

In [5]:
#check data
df.sample(10)

,CustomerID,FirstName,LastName,City,Country,Phone,OrderID,OrderDate,OrderNumber,TotalAmount,ProductID,ProductName,UnitPrice,Package,IsDiscontinued,SupplierID,CompanyName,ContactName,City.1,Country.1,Phone.1,Fax
1625,48.00,Fran,Wilson,Portland,USA,(503) 555-9573,620.00,2/3/2014 0:00,"542,997.00",98.40,53.00,Perth Pasties,32.80,48 pieces,True,24.00,"G'day, Mate",Wendy Mackenzie,Sydney,Australia,(02) 555-5914,(02) 555-4873
1377,34.00,Mario,Pontes,Rio de Janeiro,Brazil,(21) 555-0091,523.00,12/9/2013 0:00,"542,900.00",315.00,11.00,Queso Cabrales,21.00,1 kg pkg.,False,5.00,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Oviedo,Spain,(98) 598 76 54,NaN
424,62.00,L?cia,Carvalho,Sao Paulo,Brazil,(11) 555-1189,159.00,1/7/2013 0:00,"542,536.00","2,018.20",40.00,Boston Crab Meat,18.40,24 - 4 oz tins,False,19.00,New England Seafood Cannery,Robb Merchant,Boston,USA,(617) 555-3267,(617) 555-3389
1175,90.00,Matti,Karttunen,Helsinki,Finland,90-224 8858,448.00,10/7/2013 0:00,"542,825.00",642.00,12.00,Queso Manchego La Pastora,38.00,10 - 500 g pkgs.,False,5.00,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Oviedo,Spain,(98) 598 76 54,NaN
176,63.00,Horst,Kloss,Cunewalde,Germany,0372-035188,66.00,9/24/2012 0:00,"542,443.00",182.40,36.00,Inlagd Sill,19.00,24 - 250 g jars,False,17.00,Svensk Sj?f?da AB,Michael Bj?rn,Stockholm,Sweden,08-123 45 67,NaN
1968,30.00,José,Pedro Freyre,Sevilla,Spain,(95) 555 82 82,762.00,4/8/2014 0:00,"543,139.00",702.00,60.00,Camembert Pierrot,34.00,15 - 300 g rounds,False,28.00,Gai pâturage,Eliane Noz,Annecy,France,38.76.98.06,38.76.98.58
1944,24.00,Maria,Larsson,Br?cke,Sweden,0695-34 67 21,754.00,4/6/2014 0:00,"543,131.00","2,769.00",22.00,Gustaf's Kn?ckebr?d,21.00,24 - 500 g pkgs.,False,9.00,PB Kn?ckebr?d AB,Lars Peterson,G?teborg,Sweden,031-987 65 43,031-987 65 91
1682,44.00,Renate,Messner,Frankfurt a.M.,Germany,069-0245984,644.00,2/17/2014 0:00,"543,021.00",388.35,30.00,Nord-Ost Matjeshering,25.89,10 - 200 g glasses,False,13.00,Nord-Ost-Fisch Handelsgesellschaft mbH,Sven Petersen,Cuxhaven,Germany,(04721) 8713,(04721) 8714
1187,20.00,Roland,Mendel,Graz,Austria,7675-3425,451.00,10/9/2013 0:00,"542,828.00","3,600.73",70.00,Outback Lager,15.00,24 - 355 ml bottles,False,7.00,"Pavlova, Ltd.",Ian Devling,Melbourne,Australia,(03) 444-2343,(03) 444-6588
521,5.00,Christina,Berglund,Lule?,Sweden,0921-12 34 65,197.00,2/12/2013 0:00,"542,574.00","1,031.70",41.00,Jack's New England Clam Chowder,9.65,12 - 12 oz cans,False,19.00,New England Seafood Cannery,Robb Merchant,Boston,USA,(617) 555-3267,(617) 555-3389

In [6]:
df.head()

,CustomerID,FirstName,LastName,City,Country,Phone,OrderID,OrderDate,OrderNumber,TotalAmount,ProductID,ProductName,UnitPrice,Package,IsDiscontinued,SupplierID,CompanyName,ContactName,City.1,Country.1,Phone.1,Fax
0,85.00,Paul,Henriot,Reims,France,26.47.15.10,1.00,7/4/2012 0:00,"542,378.00",440.00,11.00,Queso Cabrales,21.00,1 kg pkg.,False,5.00,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Oviedo,Spain,(98) 598 76 54,NaN
1,85.00,Paul,Henriot,Reims,France,26.47.15.10,1.00,7/4/2012 0:00,"542,378.00",440.00,42.00,Singaporean Hokkien Fried Mee,14.00,32 - 1 kg pkgs.,True,20.00,Leka Trading,Chandra Leka,Singapore,Singapore,555-8787,NaN
2,85.00,Paul,Henriot,Reims,France,26.47.15.10,1.00,7/4/2012 0:00,"542,378.00",440.00,72.00,Mozzarella di Giovanni,34.80,24 - 200 g pkgs.,False,14.00,Formaggi Fortini s.r.l.,Elio Rossi,Ravenna,Italy,(0544) 60323,(0544) 60603
3,79.00,Karin,Josephs,Münster,Germany,0251-031259,2.00,7/5/2012 0:00,"542,379.00","1,863.40",14.00,Tofu,23.25,40 - 100 g pkgs.,False,6.00,Mayumi's,Mayumi Ohno,Osaka,Japan,(06) 431-7877,NaN
4,79.00,Karin,Josephs,Münster,Germany,0251-031259,2.00,7/5/2012 0:00,"542,379.00","1,863.40",51.00,Manjimup Dried Apples,53.00,50 - 300 g pkgs.,False,24.00,"G'day, Mate",Wendy Mackenzie,Sydney,Australia,(02) 555-5914,(02) 555-4873

### issues :

*delete orders with nan values 

*Rename 'City.1 , Country.1 , Phon.1'Columns

*Change 'OrderDate' Typ into Date 

*Change ID Colums , and Order Number column to integer

Get Orders NaN Rows

In [7]:
df[df.OrderID.isnull()]

,CustomerID,FirstName,LastName,City,Country,Phone,OrderID,OrderDate,OrderNumber,TotalAmount,ProductID,ProductName,UnitPrice,Package,IsDiscontinued,SupplierID,CompanyName,ContactName,City.1,Country.1,Phone.1,Fax
2155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.00,Stroopwafels,9.75,24 pieces,False,22.00,Zaanse Snoepfabriek,Dirk Luchte,Zaandam,Netherlands,(12345) 1212,(12345) 1210
2156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.00,DataScience,50.00,1,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2157,92.00,Ali,Ali,Cairo,Egypt,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2158,22.00,Diego,Roel,Madrid,Spain,(91) 555 94 44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2159,57.00,Marie,Bertrand,Paris,France,(1) 42.34.22.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.00,DSClub,AEmad,Alex,Egypt,11111,11111

In [8]:
# Delete Orders NaN rows
df.dropna(subset='OrderID',inplace=True)

In [9]:
# Rename Columns
df.rename(columns={'City.1':'suppCity','Country.1':'suppCountry','Phone.1':'suppPhone'}, inplace=True)

In [10]:
#Change OrderDate and ID Columns Type to Date,integer
df.OrderDate=pd.to_datetime(df.OrderDate)

In [11]:
# Wrangle Function

def wrangle (filename, encoding = None, dropna_columnnames = None, change_column_name= None, date_column= None, remove_duplicated_rows_columnsname = None):
    # Loading Data from csv file
    df = pd.read_csv(filename, encoding= encoding)

    ### Get Orders NaN Rows
    df.dropna(subset= dropna_columnnames, inplace=True)

    # Rename Columns
    df = df.rename(columns= change_column_name)
    
    # Change OrderDate and ID Columns type to Date, integer
    df[date_column] = pd.to_datetime(df[date_column])    

    #Drop dupliacted rows
    df = df.drop_duplicates(subset= remove_duplicated_rows_columnsname)

       
    #Strip and lowercase columns names
    df.columns = df.columns.str.strip().str.lower()
    
    return df

In [12]:
orders = wrangle('F:/all_data.csv', encoding= 'latin-1' , dropna_columnnames= ['OrderID'], change_column_name= {'City.1' : 'SuppCity', 'Country.1' : 'SuppCountry', 'Phone.1' : 'Supp_Phone'}, date_column= 'OrderDate', remove_duplicated_rows_columnsname= ['OrderID'])

for cols in orders.columns:
    if 'ID' in cols or 'OrderNumber' in cols:
         orders[cols] = orders[cols].astype(int)

orders = orders[['customerid', 'firstname', 'lastname', 'city', 'country', 'orderid', 'ordernumber', 'orderdate', 'totalamount' ]]
orders.info()

<class 'pandas.core.frame.DataFrame'>
,Index: 830 entries, 0 to 2130
,Data columns (total 9 columns):
, #   Column       Non-Null Count  Dtype
,---  ------       --------------  -----
, 0   customerid   830 non-null    float64
, 1   firstname    830 non-null    object
, 2   lastname     830 non-null    object
, 3   city         830 non-null    object
, 4   country      830 non-null    object
, 5   orderid      830 non-null    float64
, 6   ordernumber  830 non-null    float64
, 7   orderdate    830 non-null    datetime64[ns]
, 8   totalamount  830 non-null    float64
,dtypes: datetime64[ns](1), float64(4), object(4)
,memory usage: 64.8+ KB